// Common
*,
*::before,
*::after {
    box-sizing: border-box;
}
// Prevent making unexpected margin
* {
    * {
        &:first-child {
            margin-block-start: 0 !important;
        }
        &:last-child {
            margin-block-end: 0 !important;
        }
    }
}

// selection
::selection {
    background: var(--bgcolor-selection);
    color: var(--color-selection);
}

// Main root
html {
    @extend %display_block;
    font-size: calc(16px + 100vmin / 512);
}

// Document metadata

// Sectioning root
body {
    @extend %display_block;
    @extend %margin_0;
    background: var(--bgcolor-body);
    color: var(--color-body);
    font-family: var(--sans-serif);
    line-height: 1.75;
    overflow-wrap: break-word;
    text-align: justify;
}

// Content sectioning
article {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
aside {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
footer {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
header {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
h1 {
    @extend %heading;
    font-size: var(--xxx-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h2 {
    @extend %heading;
    font-size: var(--xx-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h3 {
    @extend %heading;
    font-size: var(--x-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h4 {
    @extend %heading;
    font-size: var(--large);
    margin-block-start: 1rem;
}
h5 {
    @extend %heading;
    font-size: var(--medium);
    margin-block-start: 1rem;
}
h6 {
    @extend %heading;
    font-size: var(--medium);
    margin-block-start: 1rem;
}
main {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
nav {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}
section {
    @extend %display_block;
    @extend %margin_0;
    @extend %padding_0;
}

// Text content
blockquote {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    padding-inline-start: 2rem;
    border-inline-start: var(--border);
}
dl {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    dd {
        @extend %display_block;
        @extend %margin_0;
        @extend %padding_0;
        margin-inline-start: 2rem;
    }
    dt {
        @extend %display_block;
        @extend %margin_0;
        @extend %padding_0;
        font-weight: bold;
    }
}
figure {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    img {
        @extend %display_block;
        @include margin-inline(auto);
    }
    figcaption {
        @extend %display_block;
        @extend %caption;
    }
}
hr {
    @extend %border_none;
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    border-block-start: var(--border);
}
ol,
ul {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    padding-inline-start: 2rem;
    li {
        @extend %margin_0;
        @extend %padding_0;
        display: list-item;
    }
    ol,
    ul {
        @extend %margin_0;
    }
}
p {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
}

// Inline text semantics
a {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    cursor: auto;
    text-decoration: none;
    &:link {
        color: var(--color-a);
    }
    &:visited {
        color: var(--color-a);
    }
    &[href]:hover {
        text-decoration: underline;
        @extend %cursor_pointer;
    }
}
b,
strong {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-family: var(--sans-serif);
    font-weight: bolder;
}
code {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-family: var(--monospace);
}
em {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-style: italic;
}
ruby {
    @extend %line-height_1;
    @extend %margin_0;
    @extend %padding_0;
    rt {
        @extend %line-height_1;
        @extend %margin_0;
        @extend %padding_0;
        font-size: 0.5em !important;
        white-space: nowrap;
        text-transform: full-size-kana;
    }
}
s {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    color: var(--gray);
    text-decoration: line-through;
}
small {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-size: 1em;
}
sub {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-size: 0.8em;
    vertical-align: sub;
}
sup {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    font-size: 0.8em;
    vertical-align: super;
}
time {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
}

// Image and multimedia
img {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    image-rendering: auto; // 画像を滑らかに拡大する
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: top; // 下にできる隙間を消す
}

// Embedded content

// Scripting
canvas {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    image-rendering: auto; // 画像を滑らかに拡大する
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: top; // 下にできる隙間を消す
}

// Demarcating edits
del {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    color: var(--gray);
    text-decoration: line-through;
}
ins {
    @extend %display_inline;
    @extend %margin_0;
    @extend %padding_0;
    text-decoration: none;
}

// Table content
table {
    @extend %margin-block_1rem;
    @extend %padding_0;
    @include margin-inline(auto);
    border-block-end: var(--border);
    border-block-start: var(--border);
    border-collapse: collapse;
    caption-side: bottom;
    caption {
        @extend %caption;
    }
    col {
        @extend %margin_0;
        @extend %padding_0;
    }
    colgroup {
        @extend %margin_0;
        @extend %padding_0;
    }
    tbody {
        @extend %margin_0;
        @extend %padding_0;
    }
    td,
    th {
        @extend %margin_0;
        @include padding-block(0.375rem);
        @include padding-inline(0.5rem);
    }
    tfoot {
        @extend %margin_0;
        @extend %padding_0;
    }
    th {
        border-block-end: var(--border);
        font-weight: bold;
        text-align: center;
    }
    thead {
        @extend %margin_0;
        @extend %padding_0;
    }
    tr {
        @extend %margin_0;
        @extend %padding_0;
        vertical-align: middle;
    }
}

// Forms

// Interactive elements
details {
    @extend %display_block;
    @extend %margin_0;
    @extend %margin-block_1rem;
    @extend %padding_0;
    summary {
        @extend %cursor_pointer;
        @extend %display_flex;
        @extend %line-height_1;
        @extend %margin_0;
        @include padding-inline(0.375rem);
        @include padding-block(0.375rem);
        min-block-size: 1.75rem;
        // 三角形消し for Chromium and Safari
        &::-webkit-details-marker {
            display: none; // ここでは @extend が使えないため
        }
        // 三角形消し for Firefox
        list-style: none;
        // 代替三角形
        &::before {
            content: "\25b6";
            inline-size: 1rem;
            text-align: center;
            block-size: 1rem;
            margin-inline-end: 1rem;
        }
        // summary{} の隣接タグからの意図せぬ margin を殺す
        + * {
            margin-block-start: 0 !important;
        }
    }
    &[open] {
        summary {
            &::before {
                content: "\25BC";
            }
        }
    }
}
