$content_en: "This page does not support Internet Explorer. \A Try to use modern browser such as Firefox, Google Chrome, Microsoft Edge, and Safari.";
$content_ja: "このページは Internet Explorer に対応していません。 \A Firefox，Google Chrome，Microsoft Edge，Safari などのブラウザをご利用ください。";

@media screen\0 {
    html {
        &::before {
            background: #fff;
            color: #000;
            content: $content_en;
            display: block;
            font-size: 24px;
            height: 100%;
            left: 0;
            padding: 24px;
            position: fixed;
            text-align: center;
            top: 0;
            white-space: pre-wrap;
            width: 100%;
            &:lang(ja) {
                &::before {
                    content: $content_ja;
                }
            }
        }
    }
}
