// CSS variables
:root {
    // https://jfly.uni-koeln.de/colorset/CUD_color_set_GuideBook_2018_for_print_cs4.pdf
    // accent colors
    --blue: #005aff;
    --brown: #804000;
    --green: #03af7a;
    --orange: #f6aa00;
    --pink: #ff8082;
    --purple: #990099;
    --red: #ff4b00;
    --sky-blue: #4dc4ff;
    --yellow: #fff100;
    // base colors
    --beige: #ffca80;
    --cream: #ffff80;
    --light-green: #77d9a8;
    --light-pink: #ffcabf;
    --light-purple: #c9ace6;
    --light-sky-blue: #bfe4ff;
    --light-yellow-green: #d8f255;
    // neutral colors
    --black: #242124;
    --gray: #84919e;
    --light-gray: #c8c8cb;
    --white: #ffffff;
    // additional colors
    --eerie-black: #1b1b1b;
    --onyx: #353839;
    --platinum: #e5e4e2;
    --white-smoke: #f5f5f5;

    // theme-color
    --color-selection: var(--white);
    @include color-scheme(dark) {
        --bgcolor-body: var(--black);
        --bgcolor-selection: var(--sky-blue);
        --color-a: var(--sky-blue);
        --color-body: var(--light-gray);
    }
    @include color-scheme(light) {
        --bgcolor-body: var(--white);
        --bgcolor-selection: var(--blue);
        --color-a: var(--blue);
        --color-body: var(--black);
    }

    // font family
    // Georgia with lining figures
    @at-root {
        @font-face {
            font-family: "Georgia LF";
            src: local("Times New Roman");
            unicode-range: U+0030-0039;
        }
    }
    $monospace: "Cascadia Code", "Consolas", "Menlo";
    $sans-serif: "Roboto", "Helvetica";
    $serif: "Georgia", "Times New Roman";
    --monospace: #{$monospace}, monospace;
    --sans-serif: #{$sans-serif}, sans-serif;
    --serif: #{$serif}, serif;
    // font family for Japanese
    &:lang(ja) {
        $noto-sans: "Noto Sans CJK JP", "Noto Sans JP", "Source Han Sans",
            "Source Han Sans JP";
        $noto-serif: "Noto Serif CJK JP", "Noto Serif JP", "Source Han Serif",
            "Source Han Serif JP";
        $yu-mincho: "Yu Mincho", "YuMincho";
        --monospace: #{$monospace}, #{$sans-serif};
        --sans-serif: #{$sans-serif}, #{$noto-sans}, sans-serif;
        --serif: "Georgia LF", #{$serif}, #{$noto-serif}, #{$yu-mincho}, serif;
    }

    // font sizes
    --xxx-small: 0.5rem;
    --xx-small: 0.7rem;
    --x-small: 0.8rem;
    --small: 0.9rem;
    --medium: 1rem;
    --large: 1.2rem;
    --x-large: 1.44rem;
    --xx-large: 1.728rem;
    --xxx-large: 2.074rem;

    // border
    --border: 2px solid var(--gray);
}
