<nav>
    <ul class="nav nav--header">
        {{/* Logo */}}
        <li class="nav__item">
            <a
                class="nav__link nav__link--logo"
                href='{{ .Site.Home.Permalink }}'
            >
                <img
                    alt='{{ .Site.Title }}'
                    height="32"
                    loading="lazy"
                    src='{{ "/img/logo.svg" | safeURL | absURL }}'
                    width="32"
                >
                {{ .Site.Title | title }}
            </a>
        </li>

        {{/* Languages */}}
        {{ if .IsTranslated }}
            {{ range .Translations }}
                <li class="nav__item">
                    <a
                        class="nav__link nav__link--lang"
                        href="{{ .Permalink }}"
                        lang="{{ .Site.LanguageCode }}"
                    >
                        {{ .Language.LanguageName }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>

    <ul class="nav">
        {{/* Home */}}
        <li class="nav__item">
            <a
                class="nav__link"
                href='{{ print .Site.Home.Permalink "#updates-on-covid-19-in-ichikawa" }}'
            >
                {{ .Site.Home.Title | title }}
            </a>
        </li>

        {{ range .Site.Menus.header }}
            <li class="nav__item">
                {{ $dst := .URL | safeURL | absLangURL }}
                {{ $url := urls.Parse $dst }}
                {{ $curl := urls.Parse ("/" | safeURL | absURL ) }}

                <a
                    class="nav__link"
                    href='{{ $dst }}'

                    {{ if ne $url.Host $curl.Host }}
                        rel="noopener"
                        target="_blank"
                    {{ end }}
                >
                    {{ .Name | title }}
                </a>
            </li>
        {{ end }}
    </ul>
</nav>