{
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.js", "*.json", "*.md", "*.yaml", "*.yml"],
      "options": { "tabWidth": 2 }
    },
    { "files": ["*.scss"], "options": { "tabWidth": 4 } }
  ]
}
