{{ $analyticsUrl := print "https://www.googletagmanager.com/gtag/js?id=" .Site.GoogleAnalytics }}

{{ if ne .Kind "404" }}
    {{ if .Site.IsServer }}
        <script>
            console.log('{{ $analyticsUrl | safeJS | safeURL }}');
        </script>
    {{ else }}
        <script async src='{{ $analyticsUrl | safeURL }}'></script>
        <script>
            window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag("js",new Date());gtag("config",'{{ .Site.GoogleAnalytics | safeJS }}');
        </script>
    {{ end }}
{{ end }}