<meta
    property="og:description"
    content='{{ if eq .Kind "404" }}{{ .Title | title }}{{ else }}{{ .Site.Params.Description }}{{ end }}'
>
<meta
    property="og:image"
    content='{{ .Site.Params.Ogp | absURL }}'
>
<meta
    property="og:site_name"
    content='{{ .Site.Title }}'
>
<meta
    property="og:title"
    content='{{ .Title | title }}{{ print " - " }}{{ .Site.Title }}'
>
<meta
    property="og:type"
    content='{{ if .IsPage }}article{{ else }}website{{ end }}'
>
<meta
    property="og:url"
    content='{{ .Permalink }}'
>
