<meta
    property="og:description"

    {{- if eq .Kind "404" -}}
        content='{{- .Title | title -}}'
    {{- else -}}
        content='{{- .Site.Params.description -}}'
    {{- end -}}
>
<meta
    content='{{- .Site.Params.ogp | safeURL | absURL -}}'
    property="og:image"
>
<meta
    content='{{- .Site.Title -}}'
    property="og:site_name"
>
<meta
    content='{{- print (.Title | title) " - " .Site.Title -}}'
    property="og:title"
>
<meta
    property="og:type"

    {{- if .IsPage -}}
        content="article"
    {{- else -}}
        content="website"
    {{- end -}}
>
<meta
    content='{{- .Permalink -}}'
    property="og:url"
>