{{ $style_screen := resources.Get "scss/style.scss" | toCSS | minify }}
{{ $js_chart := (resources.Get "js/chart.js").Content   }}
{{ $js_table := (resources.Get "js/table.js").Content  }}

<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="description" content='{{ .Site.Params.Description }}'>
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{/* Page title */}}
    <title>
      {{ .Title | title }}{{ printf " - " }}{{ .Site.Title | title }}
    </title>

    {{/* Preloads */}}
    <link
      rel="preload"
      as="style"
      href='{{ $style_screen.Permalink }}'
    >
    {{ with .Params.Cards.Display.Chart }}
      <link
        rel="preload"
        as="script"
        href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      >
    {{ end }}
    {{ with .Params.Cards.Display.Table }}
      <link
        rel="preload"
        as="script"
        href="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"
      >
    {{ end }}

    {{/* OGP */}}
    {{ template "_internal/opengraph.html" . }}

    {{/* Favicons */}}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href='{{ "/apple-touch-icon.png" | safeURL | absURL }}'
    >
    <link
      rel=icon
      type=image/svg+xml
      href='{{ "/img/logo.svg" | safeURL | absURL }}'
    >
    <link
      rel="icon alternate"
      type="image/png"
      sizes="512x512"
      href='{{ "/android-chrome-512x512.png" | safeURL | absURL }}'
    >

    {{/* CSS */}}
    <link rel="stylesheet" href='{{ $style_screen.Permalink }}'>

    {{/* Chart.js */}}
    {{ with .Params.Cards.Display.Chart }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
      <script>
        {{ $js_chart | safeJS }}
      </script>
    {{ end }}

    {{/* List.js */}}
    {{ with .Params.Cards.Display.Table }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
      <script>
        {{ $js_table | safeJS }}
      </script>
    {{ end }}

    {{/* Google Analytics */}}
    {{ if not .Site.IsServer }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </head>

  <body class="layout body">
    <header class="layout__header header">
      {{ partial "body/header.html" . }}
    </header>

    <main class="layout__main main">
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="layout__footer footer">
      {{ partial "body/footer.html" . }}
    </footer>
  </body>
</html>