{{ $style_reset := resources.Get "css/reset.css" }}
{{ $style_screen := resources.Get "scss/style.scss" | toCSS | minify }}

{{ $js_chart := (resources.Get "js/chart.js").Content   }}
{{ $js_list := (resources.Get "js/list.js").Content  }}
{{ $js_lib_chart := "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" }}
{{ $js_lib_list := "https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" }}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' data-lang='{{ .Site.Language.Lang }}'>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {{/* Google Analytics */}}
    {{ partial "head/analytics.html" . }}

    <meta charset="utf-8">
    <meta name="description" content='{{ if eq .Kind "404" }}{{ .Title | title }}{{ else }}{{ .Site.Params.Description }}{{ end }}'>
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{/* Page Title */}}
    <title>
      {{- .Title | title -}}{{- print " - " -}}{{- .Site.Title -}}
    </title>

    {{/* Preload Script Files */}}
    {{ with .Params.Cards.Scripts.Chart }}
      <link
        rel="preload"
        as="script"
        href='{{ $js_lib_chart | safeURL }}'
      >
    {{ end }}
    {{ with .Params.Cards.Scripts.List }}
      <link
        rel="preload"
        as="script"
        href='{{ $js_lib_list | safeURL }}'
      >
    {{ end }}

    {{/* OGP */}}
    {{ partial "head/ogp.html" . }}

    {{/* Favicon */}}
    {{ range .Site.Params.Favicon }}
      <link
        rel='{{ .rel | safeHTMLAttr }}'
        {{ with .type }}
          type='{{ . | safeHTMLAttr }}'
        {{ end }}
        {{ with .sizes }}
          sizes='{{ . | safeHTMLAttr }}'
        {{ end }}
        href='{{ .href | absURL | safeURL }}'
      >
    {{ end }}

    {{/* CSS */}}
    <link rel="stylesheet" href='{{ $style_reset.Permalink }}'>
    <link rel="stylesheet" href='{{ $style_screen.Permalink }}'>

    {{/* Script Files */}}
    {{/* Chart.js */}}
    {{ with .Params.Cards.Scripts.Chart }}
      <script src='{{ $js_lib_chart | safeURL }}'></script>
      <script>
        {{ $js_chart | safeJS }}
      </script>
    {{ end }}

    {{/* List.js */}}
    {{ with .Params.Cards.Scripts.List }}
      <script src='{{ $js_lib_list | safeURL }}'></script>
      <script>
        {{ $js_list | safeJS }}
      </script>
    {{ end }}
  </head>

  <body class="layout">
    <header class="layout__header">
      {{ partial "body/header.html" . }}
    </header>

    <main class="layout__main">
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="layout__footer">
      {{ partial "body/footer.html" . }}
    </footer>
  </body>
</html>