{{/* _default */}}
{{ define "main" }}
  <article class="page page--single">
    <header class="page__content">
      <p class="date">
        {{/* Publish date */}}
        <time datetime='{{ .PublishDate.Format "2006-01-02T15:04:05" }}'>
          {{ .PublishDate.Format "2006-01-02" }}
        </time>

        {{/* Lastmod */}}
        {{ with .Lastmod }}
          <br>
          <ins datetime='{{ .Format "2006-01-02T15:04:05" }}'>
            {{ i18n "date_lastmod" }}<time datetime='{{ .Format "2006-01-02T15:04:05" }}'>{{ .Format "2006-01-02" }}</time>
          </ins>
        {{ end }}
      </p>

      {{/* Article title */}}
      <h1 class="page__title">
        {{ .Title | title }}
      </h1>

      <p class="share">
        <a
          href='{{ print "https://www.addtoany.com/share#url=" .Permalink }}'
          target="_blank"
          rel="noopener"
          class="share__btn"
        >
          {{ i18n "card_share" }}
        </a>
      </p>
    </header>

    <section class="page__content">
      {{ .Content }}
    </section>
  </article>
{{ end }}