{{/* _default */}}
{{ define "main" }}
  <article class="page single">
    <header class="single__header">
      {{ with .Date }}
        <ul class="date">
          {{/* Publish Date */}}
          <li>
            <time datetime='{{ .Format "2006-01-02T15:04:05" }}'>
              {{- .Format "2006-01-02" -}}
            </time>
          </li>

          {{/* Lastmod */}}
          {{ with $.Lastmod }}
            <li>
              <ins datetime='{{ .Format "2006-01-02T15:04:05" }}'>
                {{- i18n "date_lastmod" -}}
                <time
                  datetime='{{ .Format "2006-01-02T15:04:05" }}'
                  class="date__lastmod"
                >
                  {{- .Format "2006-01-02" -}}
                </time>
              </ins>
            </li>
          {{ end }}
        </ul>
      {{ end }}

      {{/* Article title */}}
      <h1 class="page__title">
        {{ .Title | title }}
      </h1>

      <div class="share">
        <a
          href='{{ print "https://www.addtoany.com/share#url=" .Permalink | safeURL }}'
          target="_blank"
          rel="noopener"
          class="share__btn"
        >{{ i18n "card_share" }}</a>
      </div>
    </header>

    <section class="single__content">
      {{ .Content }}
    </section>
  </article>
{{ end }}