<h2 class="card__title">
    {{- .Title | title -}}
</h2>

<section class="card__content">
    {{- .Content -}}
</section>

<nav class="card__footer">
    <ul>
        {{- with .Page.Params.source -}}
            {{- range $index, $value := . -}}
                <li>
                    <a
                        href='{{- $value | safeURL | absLangURL -}}'
                        rel="noopener"
                        target="_blank"
                    >
                        {{- print (i18n "source") (add $index 1) -}}
                    </a>
                </li>
            {{- end -}}
        {{- end -}}

        <li class="share">
            {{- partial "body/share-button.html" . -}}
        </li>
    </ul>
</nav>