<h2 class="card__title">
    {{- .Title | title -}}
</h2>

<section class="card__content">
    {{- .Content -}}
</section>

<nav class="card__footer">
    <ul>
        {{- with .Params.Cards.Data.Source -}}
            <li>
                <a
                    href='{{- . | safeURL | absLangURL -}}'
                    rel="noopener"
                    target="_blank"
                >
                    {{- i18n "source" -}}
                </a>
            </li>
        {{- end -}}

        <li class="share">
            {{- partial "body/share-button.html" . -}}
        </li>
    </ul>
</nav>