<form
    action="https://www.google.com/search"
    class="search"
    method="GET"
    rel="noopener"
    target="_blank"
>
    <input
        aria-label='{{- i18n "search-input" -}}'
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="search__input"
        name="q"
        placeholder='{{- i18n "search-input" -}}'
        spellcheck="false"
        type="search"
    >
    <input
        name="q"
        type="hidden"
        value='{{- print "site:" .Site.BaseURL | safeHTMLAttr -}}'
    >
    <button
        aria-label='{{- i18n "search-button" -}}'
        class="search__button"
        type="submit"
    ></button>
</form>