{{/* Card */}}
{{/* Sontent */}}
<section class="card__content">
  <h1 class="card__title">{{ .Title }}</h1>

  {{/* Lastmod */}}
  {{/*
  <p class="date">
    <time datetime='{{ .Lastmod.Format "2006-01-02T15:04:05" }}' class="date__lastmod">
      {{ .Lastmod.Format "2006-01-02" }}
    </time>
  </p>
  */}}

  {{ .Content }}
</section>

{{/* Footer */}}
<section class="card__content card__content--footer">
  {{/* ソースリンク */}}
  {{ with .Params.Cards.Data.Source }}
    <p>
      <a href='{{ . | safeURL | absLangURL }}' target="_blank" rel="noopener">{{ i18n "card_source" }}</a>
    </p>
  {{ end }}

  {{/* AddToAny */}}
  {{ $share_url := replaceRE "^" "https://www.addtoany.com/share#url=" .Permalink }}
  <ul class="share">
    <li class="share__item">
      <a href='{{ $share_url | safeURL }}' target="_blank" rel="noopener" class="share__btn">{{ i18n "share_btn"}}</a>
    </li>
  </ul>
</section>