// @use "../global";

.card-container {
    // @include global.set-margin("block", 2rem);
    @include set-margin("block", 2rem);
    display: grid;
    gap: 2rem;

    // @include global.screen-size(0) {
    @include screen-size(0) {
        grid-template-columns: 100%;
    }

    // @include global.screen-size(768) {
    @include screen-size(768) {
        grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }

    &--home {
        display: block;
    }
}

.card {
    background: var(--bgcolor-card);
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;

    & > [class*="card__"] {
        // @include global.set-margin("block", 0);
        @include set-margin("block", 0);
    }

    &__title {
        font-size: var(--x-large);
        text-align: center;
    }

    &__content {
        flex-grow: 1;
    }

    &__footer {
        ul {
            // @include global.element-type-plane-list;
            @include element-type-plane-list;
        }
    }
}
