// @use "../global";

.card-container {
    // @include global.set-margin("block", 2rem);
    @include set-margin("block", 2rem);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(calc(50% - 1rem), calc(384px - 3rem), 100%), 1fr)
    );

    &--home {
        display: block;
    }
}

.card {
    background: var(--bgcolor-card);
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;

    & > [class*="card__"] {
        // @include global.set-margin("block", 0);
        @include set-margin("block", 0);
    }

    &__title {
        font-size: var(--size-rem-x-large);
        text-align: center;
    }

    &__content {
        flex-grow: 1;
    }

    &__footer {
        ul {
            // @include global.element-type-plane-list;
            @include element-type-plane-list;
        }
    }
}
