// @use "../global";

.layout {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;

    &__header {
        background: var(--bgcolor-header);
        box-shadow: var(--box-shadow);
    }

    &__main {
        flex-grow: 1;
    }

    &__footer {
        padding: 1rem;
        text-align: center;
    }
}

.page {
    padding: 2rem;
}

.date {
    // @include global.element-type-plane-list;
    // @include global.set-margin("block", 1rem);
    @include element-type-plane-list;
    @include set-margin("block", 1rem);

    text-align: end;

    &__lastmod {
        &::before {
            // @include global.element-type-icon;
            @include element-type-icon;
            content: var(--icon-lastmod);
        }
    }
}

.title {
    font-size: var(--size-rem-xx-large);
    text-align: center;
}
