// @use "../global";

.nav {
    // @include global.element-type-plane-list;
    @include element-type-plane-list;
    display: grid;

    // @include global.min-screen-size(0) {
    @include min-screen-size(0) {
        grid-template-columns: repeat(auto-fit, 50%);
    }

    // @include global.min-screen-size(768px) {
    @include min-screen-size(768px) {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }

    &--header {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        line-height: 1.25 !important;
        font-feature-settings: "palt";
        text-align: start;
    }

    &__link {
        align-items: center;
        block-size: 100%;
        display: flex;
        padding: 1rem;

        &:hover {
            background: var(--bgcolor-nav-link);
        }

        &--lang {
            color: var(--color-body) !important;
            &::before {
                // @include global.element-type-icon;
                @include element-type-icon;
                content: var(--icon-translate);
            }
        }

        &--logo {
            color: var(--color-body) !important;
            font-weight: bold;

            img {
                block-size: var(--xx-large);
                inline-size: var(--xx-large);
            }
        }
    }
}

.notice {
    align-items: center;
    background: var(--yellow);
    color: var(--black);
    column-gap: 1rem;
    display: flex;
    padding: 1rem;

    &::before {
        // @include global.element-type-icon;
        @include element-type-icon;
        content: var(--icon-warning);
        font-size: var(--xx-large);
        line-height: 1;
    }

    &--translation {
        background: var(--light-pink);

        &::before {
            content: var(--icon-translate);
        }
    }
}

.search {
    // @include global.set-margin("block", 1rem);
    @include set-margin("block", 1rem);
    border: var(--border);
    display: flex;

    & > * {
        block-size: 3rem;
        border: none;
    }

    &__input {
        inline-size: 100%;
    }

    &__button {
        &::before {
            // @include global.element-type-icon;
            @include element-type-icon;
            content: var(--icon-search);
            font-size: var(--size-rem-xx-large);
            line-height: 1;
        }
    }
}

.share {
    text-align: end;

    &--single {
        // @include global.set-margin("block", 1rem);
        @include set-margin("block", 1rem);
    }

    &__btn {
        color: var(--color-body) !important;

        &::before {
            // @include global.element-type-icon;
            @include element-type-icon;
            content: var(--icon-share);
        }

        &::after {
            content: none !important; // Hide external link icon
        }
    }
}
