// @use "../global";

.nav {
    // @include global.element-type-plane-list;
    @include element-type-plane-list;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(unquote("min(50%, 256px)"), 1fr)
    );

    &--header {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        line-height: 1.25 !important;
        font-feature-settings: "palt";
        text-align: start;
    }

    &__link {
        align-items: center;
        block-size: 100%;
        display: flex;
        padding: 1rem;

        &:hover {
            background: var(--bgcolor-nav-link-hover);
        }

        &--lang {
            color: var(--color-body) !important;
            &::before {
                // @include global.element-type-icon;
                @include element-type-icon;
                content: var(--icon-translate);
            }
        }

        &--logo {
            color: var(--color-body) !important;
            font-weight: bold;

            img {
                block-size: var(--size-rem-xx-large);
                inline-size: var(--size-rem-xx-large);
            }
        }
    }
}

.notice {
    // @include global.set-padding("block", 1rem);
    // @include global.set-padding("inline", 0.75rem);
    @include set-padding("block", 1rem);
    @include set-padding("inline", 0.75rem);
    align-items: center;
    background: var(--bgcolor-notice);
    color: var(--color-notice);
    column-gap: 0.75rem;
    display: flex;

    &::before {
        // @include global.element-type-icon;
        @include element-type-icon;
        content: var(--icon-warning);
        font-size: var(--size-rem-xx-large);
        line-height: 1;
    }

    &--translate {
        background: var(--light-pink);

        &::before {
            content: var(--icon-translate);
        }
    }

    &__content {
        font-weight: bold;
        a {
            color: var(--color-notice);
        }
    }
}

.search {
    // @include global.set-margin("block", 1rem);
    @include set-margin("block", 1rem);
    border: solid 1px var(--color-body);
    display: flex;

    & > * {
        block-size: 3rem;
        border: none;
    }

    &__input {
        inline-size: 100%;
    }

    &__button {
        &::before {
            // @include global.element-type-icon;
            @include element-type-icon;
            content: var(--icon-search);
            font-size: var(--size-rem-xx-large);
            line-height: 1;
        }
    }
}

.share {
    text-align: end;

    &--single {
        // @include global.set-margin("block", 1rem);
        @include set-margin("block", 1rem);
    }

    &__btn {
        color: var(--color-body) !important;

        &::before {
            // @include global.element-type-icon;
            @include element-type-icon;
            content: var(--icon-share);
        }

        &::after {
            content: none !important; // Hide external link icon
        }
    }
}
