// @use "../global";

// SCSS variables

// CSS variables
:root {
    // @include global.color-scheme("light") {
    @include color-scheme("light") {
        --bgcolor-body: var(--white-smoke);
        --bgcolor-card: var(--white);
        --bgcolor-header: var(--white);
        --bgcolor-nav-link: var(--platinum);
        --color-a: var(--blue);
    }
    // @include global.color-scheme("dark") {
    @include color-scheme("dark") {
        --bgcolor-body: var(--black);
        --bgcolor-card: var(--jet);
        --bgcolor-header: var(--jet);
        --bgcolor-nav-link: #484848;
        --color-a: var(--sky-blue);
    }
    --box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
