%scrollable {
    max-inline-size: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
%plane-list {
    list-style: none;
    padding-inline-start: 0;
}
%icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-icon), var(--font-sans-serif) !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
}
