*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent making unexpected margin
* {
    * {
        &:first-child {
            margin-block-start: 0 !important;
        }
        &:last-child {
            margin-block-end: 0 !important;
        }
    }
}

// Main root
html {
    @extend %display_block;
    font-size: calc(16px + 100vmin / 512);
}

// Sectioning root
body {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    background: var(--bgcolor-body);
    color: var(--color-body);
    font-family: var(--font-sans-serif);
    line-height: 1.75;
    overflow-wrap: break-word;
    text-align: justify;
}

// Content sectioning
article {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
aside {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
footer {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
header {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
h1 {
    @extend %heading;
    font-size: var(--xxx-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h2 {
    @extend %heading;
    font-size: var(--xx-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h3 {
    @extend %heading;
    font-size: var(--x-large);
    margin-block-end: 0.5rem;
    margin-block-start: 1rem;
}
h4 {
    @extend %heading;
    font-size: var(--large);
    margin-block-start: 1rem;
}
h5 {
    @extend %heading;
    font-size: var(--medium);
    margin-block-start: 1rem;
}
h6 {
    @extend %heading;
    font-size: var(--medium);
    margin-block-start: 1rem;
}
main {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
nav {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
section {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}

// Text content
blockquote {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @include padding-inline(2.5rem);
    border-inline-start: var(--border);
}
dl {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    dd {
        @extend %display_block;
        @extend %margin-block_0;
        @extend %margin-inline_0;
        margin-inline-start: 2.5rem;
        @extend %padding-block_0;
        @extend %padding-inline_0;
    }
    dt {
        @extend %display_block;
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        font-weight: bold;
    }
}
figure {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    img {
        @extend %display_block;
        @include margin-inline(auto);
    }
    figcaption {
        @extend %display_block;
        @extend %margin-block_0;
        @extend %margin-inline_0;
        margin-block-start: 0.5rem;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        text-align: center;
    }
}
hr {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    border: none;
    border-block-start: var(--border);
}
ol,
ul {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    padding-inline-start: 2.5rem;
    li {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        display: list-item;
    }
    ol,
    ul {
        @extend %margin-block_0;
    }
}
p {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}
pre {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-family: var(--font-monospace);
    white-space: pre-wrap !important;
    * {
        font-family: var(--font-monospace);
    }
}

// Inline text semantics
a {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    cursor: auto;
    text-decoration: none;
    &:link {
        color: var(--color-a);
    }
    &:visited {
        color: var(--color-a);
    }
    &[href]:hover {
        @extend %cursor_pointer;
        text-decoration: underline;
    }
}
b,
strong {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-family: var(--font-sans-serif);
    font-weight: bolder;
}
code {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-family: var(--font-monospace);
}
em,
i {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-style: italic;
}
ruby {
    @extend %line-height_1;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    rt {
        @extend %line-height_1;
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        font-size: 0.5em !important;
        text-transform: full-size-kana;
        user-select: none !important;
        white-space: nowrap;
    }
}
small {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-size: 1em;
}
sub {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-size: 0.8em;
    vertical-align: sub;
}
sup {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-size: 0.8em;
    vertical-align: super;
}
time {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
}

// Image and multimedia
canvas,
img {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    image-rendering: auto; // 画像を滑らかに拡大する
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: top; // 下にできる隙間を消す
}

// Embedded content

iframe,
object {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    border: var(--border);
}

// Demarcating edits
s,
del {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    color: var(--gray);
    text-decoration: line-through double var(--color-body);
}
ins {
    @extend %display_inline;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    text-decoration: none;
}

// Table content
table {
    @extend %margin-block_1rem;
    @include margin-inline(auto);
    @extend %padding-block_0;
    @extend %padding-inline_0;
    border-block-end: var(--border);
    border-block-start: var(--border);
    border-collapse: collapse;
    caption-side: bottom;
    caption {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        margin-block-start: 0.5rem;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        text-align: center;
        &:first-child {
            margin-block-start: 0.5rem !important;
        }
    }
    col {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
    }
    colgroup {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
    }
    tbody {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
    }
    td,
    th {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0375rem;
        @extend %padding-inline_075rem;
        text-align: center;
    }
    tfoot {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        border-block-start: var(--border);
    }
    th {
        font-weight: bold;
    }
    thead {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        border-block-end: var(--border);
    }
    tr {
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0;
        @extend %padding-inline_0;
        vertical-align: middle;
    }
}

// Interactive elements
details {
    @extend %display_block;
    @extend %margin-block_1rem;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    summary {
        @extend %cursor_pointer;
        @extend %line-height_1;
        @extend %margin-block_0;
        @extend %margin-inline_0;
        @extend %padding-block_0375rem;
        @extend %padding-inline_075rem;
        display: flex;
        gap: 1rem;
        // 三角形消し
        &::-webkit-details-marker {
            display: none; // For Chromium and Safari
        }
        list-style: none; // For Firefox
        // 代替三角形
        &::before {
            content: "\25b6";
        }
        + * {
            margin-block-start: 0 !important; // summary{} の隣接タグからの意図せぬ margin を殺す
        }
    }
    &[open] {
        summary {
            &::before {
                content: "\25BC";
            }
        }
    }
}
