a {
    &:visited {
        color: var(--color-a);
    }
    // External Link
    &[target="_blank"] {
        &::after {
            @extend %icon;
            content: var(--icon-open-in-new);
        }
    }
}

// Layout
.layout {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    &__header {
        background: var(--bgcolor-header);
        box-shadow: var(--box-shadow);
    }
    &__main {
        flex-grow: 1;
    }
    &__footer {
        @extend %padding-block_1rem;
        @extend %padding-inline_1rem;
        text-align: center;
    }
}

// Navigation
.nav {
    @extend %plane-list;
    display: grid;
    @include screen-size(0) {
        grid-template-columns: repeat(auto-fit, 50%);
    }
    @include screen-size(768) {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }
    &--header {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        line-height: 1.25 !important;
        font-feature-settings: "palt";
        text-align: start;
    }
    &__link {
        @extend %padding-block_1rem;
        @extend %padding-inline_1rem;
        align-items: center;
        block-size: 100%;
        display: flex;
        &:hover {
            background: var(--bgcolor-nav-link);
        }
        &--lang {
            color: var(--color-body) !important;
            &::before {
                @extend %icon;
                content: var(--icon-translate);
            }
        }
        &--logo {
            color: var(--color-body) !important;
            font-weight: bold;
            img {
                block-size: var(--xx-large);
                inline-size: var(--xx-large);
            }
        }
    }
}

// Page
.page {
    @include padding-block(2rem);
    @include screen-size(0) {
        @include padding-inline(1rem);
    }
    @include screen-size(768) {
        @include padding-inline(2rem);
    }
}

// Page Title
.title {
    font-size: var(--xx-large);
    text-align: center;
}

// Layout: Single
.single {
    @include margin-inline(auto);
    inline-size: unquote("min(100%, 42rem)");
    & > [class*="single__"] {
        @extend %margin-block_1rem;
    }
}

// Card
.card-container {
    @include margin-block(2rem);
    display: grid;
    gap: 2rem;
    // カードの配置
    @include screen-size(0) {
        grid-template-columns: 100%;
    }
    @include screen-size(768) {
        grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }
    &--home {
        display: block;
    }
}
.card {
    @extend %padding-block_1rem;
    @extend %padding-inline_1rem;
    background: var(--bgcolor-card);
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    & > [class*="card__"] {
        @extend %margin-block_0;
    }
    &__title {
        font-size: var(--x-large);
        text-align: center;
    }
    &__content {
        flex-grow: 1;
    }
    &__footer {
        ul {
            @extend %plane-list;
        }
    }
}

.scroll-message {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    text-align: center;
    &::before {
        @extend %icon;
        content: var(--icon-swipe);
    }
}

// data-table
.data-table {
    @extend %scrollable;
    block-size: 25rem;
    display: flex;
    line-height: 1.25;
    text-align: center;
    border-block-end: var(--border);
    border-block-start: var(--border);
    &__table {
        border: none;
        inline-size: 100%;
        tr {
            &:not(:last-child) {
                border-block-end: var(--border);
            }
        }
        th {
            background: var(--bgcolor-card);
            position: sticky;
            top: 0;
        }
        ul {
            @extend %plane-list;
        }
    }
}

// table sort
.sort {
    &.asc {
        &::after {
            @extend %icon;
            content: var(--icon-arrow-up);
        }
    }
    &.desc {
        &::after {
            @extend %icon;
            content: var(--icon-arrow-down);
        }
    }
}

// data-list
.data-list {
    @include margin-inline(auto);
    @extend %plane-list;
    line-height: 1.25 !important;
    max-inline-size: 20rem;
    &__child {
        @extend %plane-list;
        border-block-start: var(--border);
        border-inline-start: var(--border);
        margin-inline-start: 1.5em;
        padding-block-start: 0.25rem;
    }
    &__item {
        border: var(--border);
        &--child {
            border-inline-end: none;
            margin-block-end: 0.25rem;
            margin-inline-start: 0.25rem;
            &:last-child {
                border-block-end: none;
            }
        }
    }
    span {
        @include padding-block(0.375rem);
        @include padding-inline(0.75rem);
        display: inline-block;
        inline-size: 50%;
        text-align: end;
    }
}

// data-chart
.data-chart {
    @extend %scrollable;
    &__canvas {
        @include margin-inline(auto);
        block-size: 25rem;
        display: block;
        max-inline-size: none;
    }
}

// notice
.notice {
    align-items: center;
    background: var(--yellow);
    color: var(--black);
    column-gap: 1rem;
    display: flex;
    @extend %padding-block_1rem;
    @extend %padding-inline_1rem;
    &::before {
        @extend %icon;
        @extend %line-height_1;
        content: var(--icon-warning);
        font-size: var(--xx-large);
    }
    &--translation {
        background: var(--light-pink);
        &::before {
            content: var(--icon-translate);
        }
    }
}

// Date
.date {
    @extend %margin-block_1rem;
    @extend %plane-list;
    text-align: end;
    &__lastmod {
        &::before {
            @extend %icon;
            content: var(--icon-lastmod);
        }
    }
}

// news
.news {
    &__item {
        text-align: start;
    }
}

// Share btn
.share {
    text-align: end;
    &--single {
        @extend %margin-block_1rem;
    }
    &__btn {
        color: var(--color-body) !important;
        &::before {
            @extend %icon;
            content: var(--icon-share);
        }
        &::after {
            content: none !important; // Hide external link icon
        }
    }
}

// Search in 404.html
.search {
    @extend %margin-block_1rem;
    display: flex;
    border: var(--border);
    & > * {
        block-size: 3rem;
        border: none;
    }
    &__input {
        inline-size: 100%;
    }
    &__btn {
        &::before {
            @extend %icon;
            @extend %line-height_1;
            content: var(--icon-search);
            font-size: var(--xx-large);
        }
    }
}
