// CSS Variables
:root {
    // Colors
    @include color-scheme(dark) {
        --bgcolor-body: var(--black);
        --bgcolor-card: var(--onyx);
        --bgcolor-header: var(--onyx);
        --bgcolor-nav-link: #414a4c;
    }
    @include color-scheme(light) {
        --bgcolor-body: var(--white-smoke);
        --bgcolor-card: var(--white);
        --bgcolor-header: var(--white);
        --bgcolor-nav-link: var(--platinum);
    }

    // Icons
    --icon-alert: "\e900";
    --icon-arrow_down: "\e902";
    --icon-arrow_up: "\e901";
    --icon-external-link: "\e904";
    --icon-share: "\e903";
    --icon-translation: "\e905";
    --icon-update: "\e906";

    // shadow
    --box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

// Common Classes
%scrollable {
    max-inline-size: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
%plane-list {
    list-style: none;
    padding-inline-start: 0;
}
%icon {
    @extend %line-height_1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "IconFont", var(--sans-serif) !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
}
