// CSS variables
:root {
    @include color-scheme(light) {
        --bgcolor-body: var(--white-smoke);
        --bgcolor-card: var(--white);
        --bgcolor-header: var(--white);
        --bgcolor-nav-link: var(--platinum);
        --color-a: var(--blue);
        --color-body: var(--black);
    }
    @include color-scheme(dark) {
        --bgcolor-body: var(--black);
        --bgcolor-card: var(--onyx);
        --bgcolor-header: var(--onyx);
        --bgcolor-nav-link: #414a4c;
        --color-a: var(--sky-blue);
        --color-body: var(--light-gray);
    }

    // Icons
    --icon-arrow-down: "\e909";
    --icon-arrow-up: "\e908";
    --icon-lastmod: "\e906";
    --icon-open-in-new: "\e902";
    --icon-search: "\e903";
    --icon-share: "\e901";
    --icon-swipe: "\e907";
    --icon-timeline: "\e905";
    --icon-translate: "\e904";
    --icon-warning: "\e900";

    --font-icon: "icon";

    --box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
