{{ $data_src := print "data/" (.Get "src") ".json" }}
{{ $data_id := print "json_" (.Get "src") | safeJS }}
{{ $chart_id := print "chart-" (replace (.Get "src") "_" "-") | safeJS }}

<div class="data-chart">
  <canvas
    aria-label='{{ .Page.Title | title }}'
    role="img"
    class="data-chart__canvas"
    id='{{ $chart_id | safeHTMLAttr }}'
  ></canvas>
</div>

<script>
  // readFile で強引に JSON を読み込ませる
  const {{ $data_id }} = {{ readFile $data_src | safeJS }};

  drawChart('{{ $chart_id }}', {{ $data_id }});
</script>