{{- $src := index .Site.Data (.Get "src") -}}

<ul class="data-list">
    {{- range $src -}}
        {{/* Total */}}
        <li class="data-list__item">
            <div>
                {{- i18n "patients-total" -}}
            </div>
            <div>
                {{- i18n "patients-number" .total -}}
            </div>

            {{/* Ages */}}
            <ul class="data-list__child">
                {{/* <10s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-10歳未満" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .under_teens -}}
                    </div>
                </li>

                {{/* 10s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-10代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .teens -}}
                    </div>
                </li>

                {{/* 20s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-20代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .twenties -}}
                    </div>
                </li>

                {{/* 30s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-30代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .thirties -}}
                    </div>
                </li>

                {{/* 40s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-40代" -}}
                    </div>
                    <div>
                    {{- i18n "patients-number" .forties -}}
                    </div>
                </li>

                {{/* 50s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-50代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .fifties -}}
                    </div>
                </li>

                {{/* 60s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-60代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .sixties -}}
                    </div>
                </li>

                {{/* 70s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-70代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .seventies -}}
                    </div>
                </li>

                {{/* 80s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-80代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .eighties -}}
                    </div>
                </li>

                {{/* 90s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-90代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .nineties -}}
                    </div>
                </li>

                {{/* >90s */}}
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-90代以上" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .over_nineties -}}
                    </div>
                </li>
            </ul>
        </li>
    {{- end -}}
</ul>