{{- $src := index .Site.Data (.Get "src") -}}

<ul class="data-list">
    {{- range $src -}}
        {{/* Total */}}
        <li class="data-list__item">
            <div>
                {{- i18n "patients-total" -}}
            </div>
            <div>
                {{- i18n "patients-number" .total -}}
            </div>

            {{/* Total by ages */}}
            <ul class="data-list__child">
                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-10歳未満" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_10歳未満 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-10代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_10代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-20代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_20代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-30代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_30代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-40代" -}}
                    </div>
                    <div>
                    {{- i18n "patients-number" .年代_40代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-50代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_50代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-60代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_60代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-70代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_70代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-80代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_80代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-90代" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_90代 -}}
                    </div>
                </li>

                <li class="data-list__item data-list__item--child">
                    <div>
                        {{- i18n "patients-90代超" -}}
                    </div>
                    <div>
                        {{- i18n "patients-number" .年代_90代超 -}}
                    </div>
                </li>
            </ul>
        </li>
    {{- end -}}
</ul>