{{ $data_src := index .Site.Data (.Get "src") }}

<ul class="data-list">
  {{ range $data_src }}
    {{/* Total */}}
    <li class="data-list__item">
      <span>
        {{- i18n "patients_total" -}}
      </span><span>
        {{- i18n "patients_number" .total -}}
      </span>

      {{/* Ages */}}
      <ul class="data-list__child">
        {{/* <10s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_10歳未満" -}}
          </span><span>
            {{- i18n "patients_number" .under_teens -}}
          </span>
        </li>

        {{/* 10s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_10代" -}}
          </span><span>
            {{- i18n "patients_number" .teens -}}
          </span>
        </li>

        {{/* 20s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_20代" -}}
          </span><span>
            {{- i18n "patients_number" .twenties -}}
          </span>
        </li>

        {{/* 30s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_30代" -}}
          </span><span>
            {{- i18n "patients_number" .thirties -}}
          </span>
        </li>

        {{/* 40s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_40代" -}}
          </span><span>
          {{- i18n "patients_number" .forties -}}
          </span>
        </li>

        {{/* 50s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_50代" -}}
          </span><span>
            {{- i18n "patients_number" .fifties -}}
          </span>
        </li>

        {{/* 60s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_60代" -}}
          </span><span>
            {{- i18n "patients_number" .sixties -}}
          </span>
        </li>

        {{/* 70s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_70代" -}}
          </span><span>
            {{- i18n "patients_number" .seventies -}}
          </span>
        </li>

        {{/* 80s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_80代" -}}
          </span><span>
            {{- i18n "patients_number" .eighties -}}
          </span>
        </li>

        {{/* 90s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_90代" -}}
          </span><span>
            {{- i18n "patients_number" .nineties -}}
          </span>
        </li>

        {{/* >90s */}}
        <li class="data-list__item data-list__item--child">
          <span>
            {{- i18n "patients_年代_90代以上" -}}
          </span><span>
            {{- i18n "patients_number" .over_nineties -}}
          </span>
        </li>
      </ul>
    </li>
  {{ end }}
</ul>