{{- $src := index .Site.Data (.Get "src") -}}
{{- $dataLength := .Get "len" | default (len $src) -}}
{{- $tableId := print "table-" (.Get "src") -}}

<div class="data-table">
    <table
        class="data-table__table"
        id='{{- $tableId | safeHTMLAttr -}}'
    >
        <thead>
            <tr>
                <th class="sort" data-sort="市内">
                    {{- i18n "patients-市内" -}}
                </th>

                <th class="sort" data-sort="県内">
                    {{- i18n "patients-県内" -}}
                </th>

                <th class="sort" data-sort="検査確定日">
                    {{- i18n "patients-検査確定日" -}}
                </th>

                {{- if ne ($.Get "src") "details-of-patients-without-symptoms" -}}
                    <th class="sort" data-sort="発症日">
                            {{- i18n "patients-発症日" -}}
                    </th>
                {{- end -}}

                <th>
                    {{- i18n "patients-年代" -}}
                </th>

                <th>
                    {{- i18n "patients-性別" -}}
                </th>

                <th>
                    {{- i18n "patients-職業" -}}
                </th>

                <th>
                    {{- i18n "patients-推定感染経路" -}}
                </th>

                <th>
                    {{- i18n "patients-行動歴" -}}
                </th>
            </tr>
        </thead>

        <tbody class="list">
            {{/* 表データの出力 */}}
            {{- range first $dataLength $src -}}
                <tr>
                    <td class="市内">
                        {{- with .市内 -}}
                            {{- . -}}
                        {{- end -}}
                    </td>

                    <td class="県内">
                        {{- with .県内 -}}
                            {{- . -}}
                        {{- end -}}
                    </td>

                    <td class="検査確定日">
                        {{- with .検査確定日 -}}
                            {{- if eq . "不明" -}}
                                {{- i18n "patients-検査確定日-不明" -}}
                            {{- else -}}
                                {{- dateFormat "2006-01-02" . -}}
                            {{- end -}}
                        {{- end -}}
                    </td>

                    {{- if ne ($.Get "src") "details-of-patients-without-symptoms" -}}
                        <td class="発症日">
                            {{- with .発症日 -}}
                                {{- if eq . "不明" -}}
                                    {{- i18n "patients-発症日-不明" -}}
                                {{- else -}}
                                    {{- dateFormat "2006-01-02" . -}}
                                {{- end -}}
                            {{- end -}}
                        </td>
                    {{- end -}}

                    <td>
                        {{- with .年代 -}}
                            {{- $i18n := i18n (print "patients-年代-" . ) -}}

                            {{- with $i18n -}}
                                {{- . -}}
                            {{- else -}}
                                {{- . -}}
                            {{- end -}}
                        {{- end -}}
                    </td>

                    <td>
                        {{- with .性別 -}}
                            {{- $i18n := i18n (print "patients-性別-" . ) -}}

                            {{- with $i18n -}}
                                {{- . -}}
                            {{- else -}}
                                {{- . -}}
                            {{- end -}}
                        {{- end -}}
                    </td>

                    <td>
                        {{- with .職業 -}}
                            {{- $i18n := i18n (print "patients-職業-" . ) -}}

                            {{- with $i18n -}}
                                {{- . -}}
                            {{- else -}}
                                {{- . -}}
                            {{- end -}}
                        {{- end -}}
                    </td>

                    <td>
                        {{- with .推定感染経路 -}}
                            <ul>
                                {{- range . -}}
                                    <li>
                                        {{- $i18n := i18n (print "patients-推定感染経路-" . ) -}}

                                        {{- with $i18n -}}
                                            {{- . -}}
                                        {{- else -}}
                                            {{- . -}}
                                        {{- end -}}
                                    </li>
                                {{- end -}}
                            </ul>
                        {{- end -}}
                    </td>

                    <td>
                        {{- with .行動歴 -}}
                            <ul>
                                {{- range . -}}
                                    <li>
                                        {{- $i18n := i18n (print "patients-行動歴-" . ) -}}

                                        {{- with $i18n -}}
                                            {{- . -}}
                                        {{- else -}}
                                            {{- . -}}
                                        {{- end -}}
                                    </li>
                                {{- end -}}
                            </ul>
                        {{- end -}}
                    </td>
                </tr>
            {{- end -}}
        </tbody>
    </table>
</div>

<div class="scroll-message">
    {{- i18n "scroll-message" -}}
</div>

<script>
    window.addEventListener("load", function () {
        sortTable('{{- $tableId | safeJS -}}');
    });
</script>