{{/* データテーブル */}}
{{/* See: data/patients.yml */}}
<div class="data-table">
  <table class="data-table__table" id="table-detail-of-patients">
    <thead>
      <tr>
        {{/* th 市内 */}}
        <th class="sort" data-sort="市内">
          #
        </th>

        {{/* th 検査確定日 */}}
        <th class="sort" data-sort="検査確定日">
          {{ i18n "patients_検査確定日" }}
        </th>

        {{/* th 発症日 */}}
        <th class="sort" data-sort="発症日">
          {{ i18n "patients_発症日" }}
        </th>

        {{/* th 年代 */}}
        <th>
          {{ i18n "patients_年代" }}
        </th>

        {{/* th 性別 */}}
        <th>
          {{ i18n "patients_性別" }}
        </th>

        {{/* th 職業 */}}
        <th>
          {{ i18n "patients_職業" }}
        </th>

        {{/* th 推定感染経路 */}}
        <th>
          {{ i18n "patients_推定感染経路" }}
        </th>

        {{/* th 行動歴 */}}
        <th>
          {{ i18n "patients_行動歴" }}
        </th>
      </tr>
    </thead>

    <tbody id="table-detail-of-patients-tbody">
      {{/* 表示件数の設定 */}}
      {{ $len := .Get "latest" | default (len .Site.Data.detail_of_patients) }}

      {{/* 表データの出力 */}}
      {{ range first $len (sort .Site.Data.detail_of_patients "市内" "desc") }}
        <tr>
          {{/* 市内 */}}
          <td class="市内">
              {{ .市内 }}
          </td>

          {{/* 検査確定日 */}}
          <td class="検査確定日">
            {{ with .検査確定日 }}
              <time datetime='{{ . }}'
                >{{ replaceRE "^\\d+-(\\d+-\\d+)$" "$1" . }}</time
              >
            {{ end }}
          </td>

          {{/* 発症日 */}}
          <td class="発症日">
            {{ with .発症日 }}
              <time datetime='{{ . }}'
                >{{ replaceRE "^\\d+-(\\d+-\\d+)$" "$1" . }}</time
              >
            {{ end }}
          </td>

          {{/* 年代 */}}
          <td>
            {{ with (i18n (replace "patients_年代_key" "key" .年代 )) }}
              {{ . }}
            {{ else }}
              {{ .年代 }}
            {{ end }}
          </td>

          {{/* 性別 */}}
          <td>
            {{ with (i18n (replace "patients_性別_key" "key" .性別 )) }}
              {{ . }}
            {{ else }}
              {{ .性別 }}
            {{ end }}
          </td>

          {{/* 職業 */}}
          <td>
            {{ with (i18n (replace "patients_職業_key" "key" .職業 )) }}
              {{ . }}
            {{ else }}
              {{ .職業 }}
            {{ end }}
          </td>

          {{/* 推定感染経路 */}}
          <td>
            {{ with .推定感染経路 }}
              <ul>
                {{ range . }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}
          </td>

          {{/* 行動歴 */}}
          <td>
            {{ with .行動歴 }}
              <ul>
                {{ range . }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{/* Sort */}}
<script>
  const tbody = document.getElementById("table-detail-of-patients-tbody");
  tbody.className = "list";
  const options = {
    valueNames: ["市内", "検査確定日", "発症日"],
  };
  const userList = new List("table-detail-of-patients", options);
</script>