{{/* データテーブル */}}
{{ $data_src := index .Site.Data (.Get "src") }}
{{ $data_len := .Get "len" | default (len $data_src) }}

{{ $table_id := print "table-" (replace (.Get "src") "_" "-") }}
{{ $tbody_id := print "tbody-" (replace (.Get "src") "_" "-") }}

<div class="data-table">
  <table
    class="data-table__table"
    id='{{ $table_id | safeHTMLAttr }}'
  >
    <thead>
      <tr>
        <th class="sort" data-sort="市内">
          {{ i18n "patients_市内" }}
        </th>

        <th class="sort" data-sort="県内">
          {{ i18n "patients_県内" }}
        </th>

        <th class="sort" data-sort="検査確定日">
          {{ i18n "patients_検査確定日" }}
        </th>

        {{ if ne ($.Get "src") "details_of_patients_without_symptoms" }}
          <th class="sort" data-sort="発症日">
              {{ i18n "patients_発症日" }}
          </th>
        {{ end }}

        <th>
          {{ i18n "patients_年代" }}
        </th>

        <th>
          {{ i18n "patients_性別" }}
        </th>

        <th>
          {{ i18n "patients_職業" }}
        </th>

        <th>
          {{ i18n "patients_推定感染経路" }}
        </th>

        <th>
          {{ i18n "patients_行動歴" }}
        </th>
      </tr>
    </thead>

    <tbody id='{{ $tbody_id | safeHTMLAttr }}'>
      {{/* 表データの出力 */}}
      {{ range first $data_len $data_src }}
        <tr>
          <td class="市内">
            {{ with .市内 }}
              {{ . }}
            {{ end }}
          </td>

          <td class="県内">
            {{ with .県内 }}
              {{ . }}
            {{ end }}
          </td>

          <td class="検査確定日">
            {{ with .検査確定日 }}
              <time datetime='{{ dateFormat "2006-01-02" . }}'>
                {{- dateFormat "01-02" . -}}
              </time>
            {{ end }}
          </td>

          {{ if ne ($.Get "src") "details_of_patients_without_symptoms" }}
            <td class="発症日">
              {{ with .発症日 }}
                <time datetime='{{ dateFormat "2006-01-02" . }}'>
                  {{- dateFormat "01-02" . -}}
                </time>
              {{ end }}
            </td>
          {{ end }}

          <td>
            {{ with .年代 }}
              {{ $i18n := i18n (print "patients_年代_" . ) }}
              {{ with $i18n }}
                {{ . }}
              {{ else }}
                {{ . }}
              {{ end }}
            {{ end }}
          </td>

          <td>
            {{ with .性別 }}
              {{ $i18n := i18n (print "patients_性別_" . ) }}
              {{ with $i18n }}
                {{ . }}
              {{ else }}
                {{ . }}
              {{ end }}
            {{ end }}
          </td>

          <td>
            {{ with .職業 }}
              {{ $i18n := i18n (print "patients_職業_" . ) }}
              {{ with $i18n }}
                {{ . }}
              {{ else }}
                {{ . }}
              {{ end }}
            {{ end }}
          </td>

          <td>
            {{ with .推定感染経路 }}
              <ul>
                {{ range . }}
                  <li>
                    {{ $i18n := i18n (print "patients_推定感染経路_" . ) }}
                    {{ with $i18n }}
                      {{ . }}
                    {{ else }}
                      {{ . }}
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </td>

          <td>
            {{ with .行動歴 }}
              <ul>
                {{ range . }}
                  <li>
                    {{ $i18n := i18n (print "patients_行動歴_" . ) }}
                    {{ with $i18n }}
                      {{ . }}
                    {{ else }}
                      {{ . }}
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{/* List.js sort table */}}
<script>
  sortTable('{{ $table_id | safeJS }}', '{{ $tbody_id | safeJS }}');
</script>