// display
%display_block {
    display: block;
}
%display_inline {
    display: inline;
}

// line-height
%line-height_1 {
    line-height: 1 !important;
}

// margin_0
%margin-block_0 {
    @include margin-block(0);
}
%margin-inline_0 {
    @include margin-inline(0);
}
// margin_0375rem
%margin-block_0375rem {
    @include margin-block(0.375rem);
}
%margin-inline_0375rem {
    @include margin-inline(0.375rem);
}
// margin_075rem
%margin-block_075rem {
    @include margin-block(0.75rem);
}
%margin-inline_075rem {
    @include margin-inline(0.75rem);
}
// margin_1rem
%margin-block_1rem {
    @include margin-block(1rem);
}
%margin-inline_1rem {
    @include margin-inline(1rem);
}

// padding_0
%padding-block_0 {
    @include padding-block(0);
}
%padding-inline_0 {
    @include padding-inline(0);
}
// padding_0375rem
%padding-block_0375rem {
    @include padding-block(0.375rem);
}
%padding-inline_0375rem {
    @include padding-inline(0.375rem);
}
// padding_075rem
%padding-block_075rem {
    @include padding-block(0.75rem);
}
%padding-inline_075rem {
    @include padding-inline(0.75rem);
}
// padding_1rem
%padding-block_1rem {
    @include padding-block(1rem);
}
%padding-inline_1rem {
    @include padding-inline(1rem);
}

// cursor
%cursor_pointer {
    &:hover {
        cursor: pointer;
    }
}

// heading
%heading {
    @extend %display_block;
    @extend %margin-block_0;
    @extend %margin-inline_0;
    @extend %padding-block_0;
    @extend %padding-inline_0;
    font-family: var(--sans-serif);
    font-feature-settings: "palt";
    font-weight: bold;
    text-align: start;
}
