// Japanese fonts
$noto-sans: "Noto Sans CJK JP", "Noto Sans JP", "Source Han Sans";
$noto-serif: "Noto Serif CJK JP", "Noto Serif JP", "Source Han Serif";
$yu-mincho: "Yu Mincho", "YuMincho";

// Latin fonts
$monospace: "Cascadia Code", "Consolas", "Menlo";
$sans-serif: "Roboto", "Helvetica";
$serif: "Georgia", "Times New Roman";
